<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>EmoTune</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  <!-- contact form created for treehouse competition.-->
<form action="/search" method="post" id="imeson">
  <div class="container">
    <div class="head">
      <h2>EMOTUNE</h2>
      <p class="center">入力した文章を感情分析し、結果と一番近い曲を提示します。</p>
    </div>
    <textarea id="txt" type="text" name="usertext" placeholder="type here"></textarea><br />
    <input type="submit" class="button" value="Search!">
  </div>
</form>

<% if @usertext_api.size==3 %>
<div class="usertextresult">
  <h3>感情分析結果</h3>
    <div class="card">like(+) / dislike(-) :<%= @usertext_api[0] %></div>
    <div class="card">joy(+) / sad(-) :<%= @usertext_api[1] %></div>
    <div class="card">anger(+) / fear(-) :<%= @usertext_api[2] %></div>
  <h2>近しい曲</h2>  
  <div class="container">
    <p><%= @artist %>「<%= @song %>」</p>
    <h3>歌詞</h3>
    <p><%= @lyric %> ...<a href="https://www.google.com/search?q=<%= @artist %>+<%= @song %>+%E6%AD%8C%E8%A9%9E"target="_blank" rel="noopener noreferrer" class="link">歌詞全文</a></p>
    </div>
  </div>
  <% end %>
  
  <script>
  // リロードなしページリセット
  // const form = document.querySelector("#imeson");
        
  //       form.addEventListener("submit", async function(e) {
  //         e.preventDefault();
          
  //         await fetch(form.action, {
  //           method: "POST", 
  //           body: new FormData(form)
  //         })
          
  //         alert('yes!テスト用');
  //         const imput = document.querySelector("#txt");
  //         imput.value = "";
          
  //       })
  
  
  //   $(function() {
  //   // validate
  //   $("#imeson").validate({
  //       // Set the validation rules
  //       rules: {
  //           message: "required",
  //       },
  //       // Specify the validation error messages
  //       messages: {
  //           message: "empty",
  //       }
        
  //   });
  // });
  </script>
  <br>
  <div class="center">
    <button onclick="location.href='/songlist'" class="button">収録曲一覧</button>
  </div>
</body>
</html>